# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=YOUR_VALUE_HERE
# ML Dev backend config, ignore if using Vertex.
GOOGLE_API_KEY=YOUR_VALUE_HERE

# Vertex backend config
GOOGLE_CLOUD_PROJECT=YOUR_VALUE_HERE
GOOGLE_CLOUD_LOCATION=YOUR_VALUE_HERE

# Provide these to automatically update access token
PAYPAL_CLIENT_ID=YOUR_VALUE_HERE
PAYPAL_SECRET=YOUR_VALUE_HERE

